.cards-section {
    background-color: var(--color-grey);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    padding: 20px;
    gap: 10px;
}

.main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info__title {
    color: var(--color-white);
}

.total__dishes {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 5px 10px;
}

