.food-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.food-list__item {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    transition: all 0.3s;

    &:hover {
        transform: translateX(7px);
    }
}

.food-card {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 1fr 8%;
    padding: 5px 10px;
}

.food-card__photo-img {
    border-radius: var(--border-radius);
    width: 80px;
    height: 50px;
}

.food-card__button-delete {
    border: none;
    color: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-red);
    width: 30px;
    height: 30px;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.2);
    }
    
}

.food-card__delete-img {
    object-fit: cover;
    color: white;
    filter: invert(1)
    
}

.food-card__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.food-card__PFC {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--color-grey);
}