.navigation {
    background-color: var(--color-blue);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navigation-menu__element {
    width: 100px;
    height: 50px;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
}

.navigation-menu__statistic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu__add-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu__add-photo-image {
    width: 24px;
    height: 24px;
}

.navigation-menu__user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-photo__label {
    cursor: pointer;
}

.add-photo__input {
    display: none;
}