.statistic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    border-radius: var(--border-radius);
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 20px;
    row-gap: 24px;

    font-size: 18px;
    
}

.calories__eaten {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    transition: all 0.3s;

    &:hover {
        transform: translateX(7px) scale(1.05);
    }
}

.calories__value {
    margin: 0;
}

.calories__label {
    margin: 0;
}

.calories__remain {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;

    &:hover {
        transform: translateX(7px) scale(1.05);
    }
}

.calories__normal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    transition: all 0.3s;

    &:hover {
        transform: translateX(7px) scale(1.05);
    }
    
}

.PFC {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
}

.PFC__proteins {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    transition: all 0.3s;

    &:hover {
        transform: translateX(7px) scale(1.05);
    }
}



.PFC__fats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    &:hover {
        transform: translateX(7px) scale(1.05);
    }
}

.PFC__carbohydrates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    transition: all 0.3s;

    &:hover {
        transform: translateX(7px) scale(1.05);
    }
}