body {
    display: flex;
    background-color: var(--color-white);
    justify-content: center;
    align-items: start;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    padding: 10px;
}

.container {
    min-width: 600px;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}