:root {
    --color-blue: rgb(93, 152, 255) ;
    --color-white: #ffffff;
    --color-grey: rgb(168, 168, 168);
    --color-bright-grey: rgb(231, 231, 231);
    --color-red: rgb(255, 86, 86);

    --border-radius: 20px;
    
}