:root {
    --color-blue: #659BB9 ;
    --color-white: #ffffff;
    --color-grey: #adadad;
    --color-bright-grey: rgb(98, 98, 98);
    --color-red: rgb(255, 86, 86);

    --border-radius: 20px;
    
}